<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>halofoto</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.47.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.988154087943-ul94d8p8hvnaj3266a1fs9ikmsa1bsfa</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>30</string>
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true />
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true />
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to use the camera. Halofoto would like to access your camera to enable you to scan and capture photos within the app. This feature allows you to personalize your experience by adding images for your profile and for the new products registered by you in this app. Your privacy is important to us and we respect your privacy. We will only use the camera for it's intended purpose. Tap 'Allow' to grant camera access. Our app adheres to privacy guidelines and only requests permissions necessary for its core features.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Give $(PRODUCT_NAME) permission to access your location.Halofoto would like to access your location for shipping the product.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your microphone</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give $(PRODUCT_NAME) permission to save photos. Halofoto would like to save the photos for the profile section of user and to show the listing of the products registered by user. Your privacy is important to us, and we will only use the camera for its intended purpose.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give $(PRODUCT_NAME) permission to access your photos. Halofoto would like to access your photos for uploading the profile photos of user and to show the listing of the products registered by user. Your privacy is important to us, and we will only use the camera for its intended purpose.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true />
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false />
</dict>
</plist>
